<h2>Users</h2>

<div id="users">
<% @users.each do |user| %>
  <div class ="user">
    <!-- <img src="<%= user.image %>"> -->
    <strong><%= link_to user.email, user_path(user) %></strong>
    <!-- <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %> -->
  </div>
<% end %>
</div>
