<h2>Users</h2>

<div id="users">
<% @users.each do |user| %>
  <div class ="user">
    <% if user == current_user %>
      <input type= "hidden">
    <% else %>
      <strong><%= link_to user.name, user_path(user) %></strong>
      <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %>
    <% end %>
  </div>
<% end %>
</div>
