<h2>Hi, <%= current_user.name %>!</h2>

<p>Use the below field to search for tv shows:</p>
<form>
  <input class="showSearch" type="text" placeholder="Search..." required>
  <input class="showButton" type="button" value="Search">
</form>

<div class="show_results"></div>

<h3>Favorite Shows</h3>

<div class="my_shows"></div>

<h3>Friends</h3>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%= friendship.friend.name %>
      <%= link_to "Remove", friendship, :method => :delete %>
    </li>
  <% end %>
</ul>


<!-- <%#= link_to friendship.friend.name, user_path(@users.find(params[:id])) %> -->
