<h1>tel.ly</h1>

<img src="https://www.wheresthedrama.com/tv.gif" alt="television gif" style="width:900px;height:800px">

<div class="site_info">
  <p>tel<strong>.ly</strong> helps you stay on top of what television shows you and your friends are into!</p>
</div>

<div class="splash_nav">
  <%= link_to "Sign Up", signup_path %> or
  <%= link_to "Log In", login_path %>
</div>
