/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  background: #383838;
  font-family: 'Signika', sans-serif;
  font-size: 20px;
}

header {
  background: url("http://d1hw6n3yxknhky.cloudfront.net/000335489_prevstill.jpeg");
  background-size: cover;
}

h1 {
  margin: 0;
  color: #3399ff;
  font-size: 75px;
  font-family: 'Fredoka One', cursive;
  padding: 10px;
}

h1 strong {
  color: #ff6633;
}

ul {
  margin: 0;
  padding: 5px;
}

ul li {
  display: inline-block;
  padding: 0 20px;
}

.nav_bar {
  background: rgba(255, 255, 255, 0.75);
  color: #000;
  font-size: 20px;
  font-family: 'Signika', sans-serif;
}

.nav_bar a {
  color: #ff6633;
}

.user_list {
  background: #000;
  max-width: 50%;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

.indiv {
  margin: 20px;
}

.indiv a {
  text-decoration: none;
}

h2 {
  color: #fff;
  text-decoration: underline;
  font-size: 40px;
  padding-left: 20px;
  margin: 15px 0 0 0;
}

.user a {
  color: #3399ff;
}

#friend {
  background: #ff6633;
  color: #fff;
}

p {
  margin: 8px 0;
}
