body {
  background: rgba(112, 184, 255, .75);
  color: rgba(230, 230, 230, 1);
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}
h1 {
  color: rgba(255, 153, 102, 1);
  font-size: 100px;
  font-family: 'Squada One', cursive;
  margin: auto;
  width: 200px;
}
.site_info {
  width: 50%;
  margin: auto;
}
.site_info strong {
  color: rgba(255, 153, 102, 1);
}
.splash_nav {
  width: 225px;
  margin: 20px auto;
}
.splash_nav a {
  text-decoration: none;
  padding: 5px;
  color: rgba(230, 230, 230, 1);
  background: rgba(26, 26, 26, 1);
  border-radius: 3px;
}
.splash_header li {
  list-style-type: none;
}
.splash_header a {
  text-decoration: none;
}
