/*body {
  background-image: url("https://d1hw6n3yxknhky.cloudfront.net/000335489_prevstill.jpeg")
}*/

body {
  background: #3399ff;
  color: #fff;
  font-size: 30px;
}

.splash_header {
  margin: 0;
  padding: 0;
}

.splash_header li {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  font-family: 'Signika', sans-serif;
}

.splash_header a {
  color: #fff;
  text-decoration: none;
  background: #ff6633;
  padding: 5px;
}

.splash h1 {
  font-family: 'Fredoka One', cursive;
  position: absolute;
  top: 345px;
  left: 325px;
  width: 100%;
  color: #ff6633;
  font-size: 100px;
}

.image {
  position: relative;
  width: 100%;
}

.splash_nav {
  position: absolute;
  top: 610px;
  left: 280px;
  color: #fff;
  font-size: 40px;
  font-family: 'Signika', sans-serif;
}

.splash_nav a {
  color: #fff;
  font-size: 40px;
  font-family: 'Signika', sans-serif;
  text-decoration: none;
  background: #000;
  border-radius: 10px;
  padding: 10px;
}

.site_info {
  color: #fff;
  font-size: 40px;
  font-family: 'Signika', sans-serif;
  text-align: center;
  max-width: 900px;
}

.splash strong {
  color: #ff6633;
}
