body {
  background: rgb(230, 238, 245);
  font-family: 'Domine', serif;
}
header {
  background: asset-url("static.jpg");
  background-size: cover;
}
h1 {
  color: rgb(255, 153, 102);
  font-family: 'Montserrat', sans-serif;
}
h1 strong {
  color: rgb(43, 43, 209);
}
.nav_bar {
  background: rgba(230, 238, 245, .75);
  font-family: 'Montserrat', sans-serif;
  color: rgb(46, 46, 46);
}
.nav_bar a {
  color: rgb(43, 43, 209);
  text-decoration: none;
}
.nav_bar a:hover {
  color: rgb(46, 46, 46);
}
#friend {
 color: rgb(230, 238, 245);
 background: rgb(255, 153, 102);
 font-family: 'Montserrat', sans-serif;
 font-size: 16px;
}
.indiv a {
  text-decoration: none;
  color: rgb(43, 43, 209);
}
h2 {
  color: rgb(46, 46, 46);
}
.search_shows, .log_in, .show_info {
  background: rgb(43, 43, 209);
  color: rgb(230, 238, 245);
}
.favorite_shows {
  background: rgb(46, 46, 46);
  color: rgb(230, 238, 245);
}
.my_shows a, .friends a {
  text-decoration: none;
  color: rgb(230, 238, 245);
}
.my_friends, .sign_up {
  background: rgb(255, 153, 102);
  color: rgb(230, 238, 245);
}
.friend_fans {
  background: rgba(255, 153, 102, 1);
  color: rgba(230, 230, 230, 1);
}
.friend_fans a {
  text-decoration: none;
  color: rgba(230, 230, 230, 1);
}
