body {
  background: rgb(157, 178, 178);
  font-family: 'Roboto Condensed', sans-serif;
}
header {
  background: url("https://d1hw6n3yxknhky.cloudfront.net/000335489_prevstill.jpeg");
  background-size: cover;
}
h1 {
  color: rgb(157, 178, 178);
  font-family: 'Squada One', cursive;
}
h1 strong, #friend {
  color: rgba(255, 153, 102, 1);
}
.nav_bar {
  background: rgba(230, 230, 230, .75);
  color: rgba(26, 26, 26, 1);
  font-family: 'Roboto Condensed', sans-serif;
}
.nav_bar a {
  color: rgba(26, 26, 26, 1);
  text-decoration: none;
}
.user_list {
  background: rgba(26, 26, 26, 1);
}
.user a {
  color: rgba(112, 184, 255, 1);
}
.indiv a {
  text-decoration: none;
}
h2 {
  color: rgba(230, 230, 230, 1);
}
.search_shows, .log_in, .show_info {
  background: rgba(26, 26, 26, 1);
  color: rgba(230, 230, 230, 1);
}
.favorite_shows {
  background: rgba(230, 230, 230, 1);
  color: rgba(26, 26, 26, 1);
}
.my_shows a {
  text-decoration: none;
  color: rgba(26, 26, 26, 1);
}
.my_friends, .sign_up {
  background: rgba(255, 153, 102, 1);
  color: rgba(26, 26, 26, 1);
}
.friends a {
  text-decoration: none;
  color: rgba(26, 26, 26, 1);
}
.friend_fans {
  background: rgba(255, 153, 102, 1);
  color: rgba(230, 230, 230, 1);
}
.friend_fans a {
  text-decoration: none;
  color: rgba(230, 230, 230, 1);
}
