<h2><%= @show.name %></h2>

<div class="show_info">

  <p><%= @show.overview %></p>

</div>

<div class="show_image">

<% if @show.image %>
  <%= image_tag("https://image.tmdb.org/t/p/w185" + @show.image, class: "show_image") %>
<% end %>

</div>

<div class="friend_fans">

  <h3>Fans:</h3>

  <ul class="show_fans">
    <% for user in @show.users %>
    <li>
      <%= link_to user.name, user_path(user) %>
    </li>
    <% end %>
  </ul>

</div>
