<!DOCTYPE html>
<html>

<head>

  <link href='https://fonts.googleapis.com/css?family=Signika:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'splash' %>
  <meta charset="utf-8">
  <title>tel.ly</title>

</head>

<header>

  <ul class="splash_header">
  <% if current_user %>
    <li>Logged in as <%= current_user.name %></li>
    <li><%= link_to "My tel.ly", current_user %></li>
  <% end %>
  </ul>
  
</header>

<div class="splash">
<body>

	<%= yield %>

</body>

</div>

</html>
