<!DOCTYPE html>
<html>

<head>

  <link href='https://fonts.googleapis.com/css?family=Signika:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag 'splash' %>
  <meta charset="utf-8">
  <title>tel.ly</title>

</head>

<div class="splash">
<body>

	<%= yield %>

</body>

</div>

</html>
